
$pink: #fbd2d4;
$red: #ed1f27;
$blue: #55abd6;

$black: #010101;
$white: #fff;
$dark: #333;
$light: #fcfcfc;
$gray: #eee;

$colors: (
    "blue": $blue,
    "red": $red,
    "pink": $pink,
    "dark": $dark,
    "light": $light,
    "black": $black,
    "white": $white,
    "gray": $gray,
);