.d-flex {
    display: flex;
    flex-wrap: wrap;
    &.no-wrap {
        flex-wrap: nowrap;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-space-around {
        justify-content: space-around;
    }
    &.justify-space-evenly {
        justify-content: space-evenly;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-start {
        align-items: flex-start;   
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
}

@mixin responsive {
    
}