@use "sass:math";

.panel {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    > .col {
        flex: 1;
        width: 100%;

        @for $col from 1 through $n-cols {
            $percent: percentage(math.div($col, $n-cols));
            &-#{$col} {
                flex: 0 0 $percent;
                width: $percent;
            }
            &-offset-#{$col} {
                margin-left: $percent;

            }
        }
    
        @each $breakpoint, $min-width in $grid-breakpoints {
            @include media-breakpoint-up($breakpoint) {
                @for $col from 1 through $n-cols {
                    $percent: percentage(math.div($col, $n-cols));
                    &-#{$col}--#{$breakpoint} {
                        flex: 0 0 $percent;
                        width: $percent;
                    }
                    &-offset-#{$col}--#{$breakpoint} {
                        margin-left: $percent;
                    }
                }
            }
        }
    }
}